<div style="font-size: 13.5px;">
    <p>Made with <span style="color: red;">❤️</span> by <a href="https://www.alekswilc.dev/">alekswilc</a> for SimRail
        Community</p>
    <p><a href="https://git.alekswilc.dev/alekswilc/">Open Source</a></p>
    <% if (thanks) { %>
        <p>Podziękowania dla społeczności discorda <a href="https://discord.gg/yDhy3pDrVr">Simrail24</a>, <a
                href="https://discord.com/users/1079005960653254656">AQUALYTH</a>, osób lajkujących <a
                href="https://forum.simrail.eu/topic/9142-logowanie-wyj%C5%9B%C4%87-z-posterunk%C3%B3w/">posta</a>, osób
            użytkujących strone i społeczności Simrail <span style="color: red;">❤️</span></p>
        <% } %>
</div>