<header>
    <h1><a style="color: white; text-decoration: none;" href="/">SimRail Logs</a></h1>
    
        <a href="/stations/">Logi posterunków</a> /
        <a href="/trains/">Logi pociągów</a> /
        <a href="/leaderboard/train">Tablica pociągow</a> /
        <a href="/leaderboard/station">Tablica posterunków</a>

    <br />

    <p style="color: darkorange">SPRAWDŹ NOWĄ WERSJĘ: <a href="https://preview-simrail.alekswilc.dev/">preview-simrail.alekswilc.dev</a></p>
</header>