<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simrail.alekswilc.dev</title>
    <meta name="description" content="Simrail Utils">
    <meta property="og:title" content="simrail.alekswilc.dev">
    <meta property="og:url" content="https://simrail.alekswilc.dev">
    <meta property="og:description" content="Simrail Utils">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-fonts@1.1.1/fonts/inter.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">

    <style>
        p {
            margin: 1%;
        }
    </style>
</head>

<body>
    <%- include('_modules/header.ejs', { section:'home' }) %>

        <p>Prosty projekt, logujący wyjścia z posterunków.</p>
        <h3>Cele projektu</h3>
        <p>Główne założenia</p>
        <ul>
            <li>
                <p>Ułatwienie zgłaszania graczy, którzy robią "Hit and Run" (psuje i wychodze z posterunku)</p>
            </li>
            <li>
                <p>Statystyki</p>
            </li>
        </ul>

        <h3>Rozwój aplikacji</h3>
        <p>Planowane funkcjonalności</p>
        <ul>
            <li>
                <p>Obsługa pociągów (<a href="https://git.alekswilc.dev/alekswilc/simrail-logs/issues/8">#8</a>)</p>
            </li>
        </ul>
        <h3>Informacje dodatkowe</h3>
        <details>
            <summary>
                Zgłaszanie błędów i propozycji
            </summary>

            <h6>Zgłaszanie błedów</h6>
            <ul>
                <li>Otwórz <a
                        href="https://git.alekswilc.dev/alekswilc/simrail-logs/issues">https://git.alekswilc.dev/alekswilc/simrail-logs/issues</a>
                </li>
                <li>Zaloguj się (np poprzez Discorda)</li>
                <li>Naciśnij przycisk "New issue" ("Nowe zgłoszenie")</li>
                <li>W tytule napisz krótki opis (np. Problem z wyświetleniem strony)</li>
                <li>Opisz problem (kiedy występuje, podaj linki, postaraj sie napisać jak moge odtworzyć ten błąd, jak
                    powinna zachowywać sie aplikacja bez tego błędu)</li>
                <li>Poczekaj na informacje z mojej strony</li>
                <li>Dziekuje :)</li>
            </ul>

            <img src="https://git.alekswilc.dev/alekswilc/simrail-logs/raw/branch/main/.gitea/assets/image-1.png">


            <h6>Zgłaszanie propozycji</h6>
            <ul>
                <li>Otwórz <a
                        href="https://git.alekswilc.dev/alekswilc/simrail-logs/issues">https://git.alekswilc.dev/alekswilc/simrail-logs/issues</a>
                </li>
                <li>Zaloguj się (np poprzez Discorda)</li>
                <li>Naciśnij przycisk "New issue" ("Nowe zgłoszenie")</li>
                <li>W tytule napisz krótki opis (np. Logi wejścia i wyjścia z pociągów)</li>
                <li>Opisz propozycje (dokładnie co z dyżurkami ale dla pociągów)</li>
                <li>Poczekaj na informacje z mojej strony</li>
                <li>Dziekuje :)</li>
            </ul>

            <img src="https://git.alekswilc.dev/alekswilc/simrail-logs/raw/branch/main/.gitea/assets/image-2.png">
        </details>



        <h2>Licencja</h2>
        <details>
            <summary>
                Copyright (C) 2024 Aleksander <alekswilc> Wilczyński
            </summary>


            <code style="white-space: pre-line">This program is free software: you can redistribute it and/or modify
            it under the terms of the GNU Affero General Public License as
            published by the Free Software Foundation, either version 3 of the
            License, or (at your option) any later version.
        
            This program is distributed in the hope that it will be useful,
            but WITHOUT ANY WARRANTY; without even the implied warranty of
            MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
            GNU Affero General Public License for more details.
        
            You should have received a copy of the GNU Affero General Public License
            along with this program. If not, see https://www.gnu.org/licenses/.</code>
        </details>

        <hr>
        <%- include('_modules/footer.ejs', { thanks: true }) %>


</body>

</html>